:root{
    --lilac-color: #d2afff;
    --rounded-sm: 5px;
    --todo-w-card: 30%;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: "Quicksand", sans-serif;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.todo-card{
    width: var(--todo-w-card);
    height: 400px;
    background-color: #fff;
    border-radius: var(--rounded-sm);
    padding: 40px 30px;
}

input[name="add-task"]{
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    border: 1px solid var(--lilac-color);
}

input[name="add-task"]:focus{
    outline: 1px solid var(--lilac-color);
}

.todo-form{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.btn-add{
    border-style: none;
    background-color: var(--lilac-color);
    color: #fff;
    padding: 10px;
    border-radius: var(--rounded-sm);
    cursor: pointer;
}

.icon-add {
    width: 25px;
    height: 25px;
}

h1{
    padding-left: 10px;
    margin-bottom: 10px;
}

p.task-completed, .error-handling{
    padding: 10px ;
}

.error-handling{
    background-color: var(--lilac-color);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--todo-w-card);
}

